html,
body,
div,
form,
fieldset,
legend,
caption,
label,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre {
	font-size: 100%;
	font-weight: normal;

	margin: 0;
	padding: 0;

	vertical-align: baseline;

	border: 0;
	outline: 0;
	background: transparent;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

th,
td {
	text-align: left;
	vertical-align: top;
}

img {
	border: 0;
}

*,
::after,
::before {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	margin: 0;
	font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	line-height: 1.5;
}

body>article {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0 auto;
	padding: 1.5rem;
}

@media (min-width: 576px) {
	body>article {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	body>article {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	body>article {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	body>article {
		max-width: 1140px;
	}
}

@media (min-width: 1400px) {
	body>article {
		max-width: 1320px;
	}
}